<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KMC Event Admin</title>
</head>
<body>
    <div>
        <a asp-controller="Event" asp-action="Create">KMCEventAdmin</a>
        <hr />
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>